body {
	margin: 2rem;
	background-image:url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 10px;
}

.ribbon {
	border-radius: 10px;
	width: 200px;
	height: 100px;
}

.form {
	padding: 1rem;
	margin: 2rem 0;
	border: 1px solid black;
	max-width: 270px;
	max-height: 350px;
}
.form label {
	font-weight: bold;
}
.form div {
	margin: 1rem 0;
}
input {
	max-width: 150px;
}
#message {
	margin: 1rem 0;
}